{% extends 'pirosta/base.html' %}
{% load static %}

{% block content %}
    <div class="post-list">
        {% for post in posts %}
            {% include 'pirosta/includes/post_card.html' with post=post current_user_username=current_user_username %}
        {% empty %}
            <p>아직 게시물이 없습니다</p>
        {% endfor %}
    </div>

    <div class="search-section">
        <input type="text" id="search-input" placeholder="작성자 또는 내용으로 검색...">
        <div id="search-results">
            </div>
    </div>
{% endblock %}