{% extends 'base.html' %}

{% block content %}
    <div class="content-box">
        <h2 style="justify-self: center;">DevTool Detail</h2>
        <p style="justify-self: center;">개발툴 세부내용 페이지 입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해 보아요.</p>

        
        <div class="devtool-detail-container">
            <h3>{{ devtool.name }}</h3>
            <p>{{ devtool.kind }}</p>
            <p>{{ devtool.content }}</p>
        

        <div class="related-ideas">
            <h3>>만들 수 있는 SW 목록</h3>
            <ul>
                {% for idea in related_ideas %}
                    <li><a href="{% url 'idea_detail' pk=idea.pk %}">{{ idea.title }}</a></li>
                {% empty %}
                    <li>이 개발툴을 사용하는 아이디어가 없습니다.</li>
                {% endfor %}
            </ul>
        </div>
        </div>
        <div class="button-group" style="padding-top: 20px;">
            <form action="{% url 'devtool_delete' pk=devtool.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</button>
            </form>
            <a href="{% url 'devtool_list' %}">
                <button>목록</button>
            </a>
            <a href="{% url 'devtool_update' pk=devtool.pk %}">
                <button>수정</button>
            </a>
        </div>
    </div>
{% endblock %}