{% extends 'base.html' %}

{% block content %}
    <div class="content-box">
        <h2 style="justify-self: center;">DevTool Register</h2>
        <p style="justify-self: center;">개발툴 등록 페이지 입니다. 자신이 다룰 수 있는 개발툴을 등록해 보세요.</p>

        <form action="{% url 'devtool_upload' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" style="justify-self: center;">SUBMIT</button>
        </form>
    </div>
{% endblock %}