<!DOCTYPE html>
<html lang="ko">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My SW Idea Manage</title>
    <style>
    </style>
</head>

<body>

    <nav class="navbar">
        <a href="{% url 'idea_list' %}" style="font-size: 1.5rem; font-weight: bold;">My SW Idea Manage</a>
        <div>
            <a href="{% url 'idea_upload' %}">아이디어 등록</a>
            <a href="{% url 'idea_list' %}">아이디어 관리</a>
            <a href="{% url 'devtool_upload' %}">개발툴 등록</a>
            <a href="{% url 'devtool_list' %}">개발툴 관리</a>

        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>